<div role="heading" tabindex="0" class="{{_type}}-aria-title" aria-label="{{titleAriaLabel}}" aria-level="{{titleAriaLevel}}"></div>
{{#if titleShowIndicator}}
<div class="{{_type}}-completion {{#if _isComplete}}complete {{else}}incomplete {{/if}}"></div>
{{/if}}