<div role="heading" tabindex="0" class="{{titleAriaType}}-aria-title" aria-label="{{titleAriaLabel}}" aria-level="{{titleAriaLevel}}"></div>
{{#if titleShowIndicator}}
<div class="{{titleAriaType}}-completion {{#if _isComplete}}complete {{else}}incomplete {{/if}}"></div>
{{/if}}